<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>user</key>
		<string></string>
		<key>image</key>
		<string>2.pic_hd</string>
		<key>content</key>
		<string>Such a nice place. Hope I could spend another 3 years here!</string>
		<key>tagnum</key>
		<string>12</string>
		<key>tags</key>
		<string>IOS, Apple, Cocktail, NBA, Shenzhen, CS 100, CS 241, Entrepreneur, UIUC, Naruto, Designer, UI/UX</string>
		<key>comments</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Micheat</string>
				<key>content</key>
				<string>great place haha</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>Which class are you in</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>where is that</string>
			</dict>
		</array>
		<key>like</key>
		<string>4</string>
	</dict>
	<dict>
		<key>user</key>
		<string></string>
		<key>image</key>
		<string>2.pic_hd</string>
		<key>content</key>
		<string>Such a nice place. Hope I could spend another 3 years here!</string>
		<key>tagnum</key>
		<string>12</string>
		<key>tags</key>
		<string>IOS, Apple, Cocktail, NBA, Shenzhen, CS 100, CS 241, Entrepreneur, UIUC, Naruto, Designer, UI/UX</string>
		<key>comments</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>where is that</string>
			</dict>
		</array>
		<key>like</key>
		<string>6</string>
	</dict>
	<dict>
		<key>user</key>
		<string>Josh</string>
		<key>image</key>
		<string></string>
		<key>content</key>
		<string>&quot;Resist the temptation of the beast, you&apos;ll slip and lose your grip and forever fall asleep&quot; -- who ?</string>
		<key>tagnum</key>
		<string>10</string>
		<key>tags</key>
		<string>Cocktail, NBA, Shenzhen, CS 100, CS 241, Entrepreneur, UIUC, Naruto, Designer, UI/UX</string>
		<key>comments</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Micheat</string>
				<key>content</key>
				<string>great place haha</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>Which class are you in</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>where is that</string>
			</dict>
		</array>
		<key>like</key>
		<string>4</string>
	</dict>
	<dict>
		<key>user</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>content</key>
		<string>Ms. Meryl LaBella has been selected as the Director of Special Projects. This position reports directly to the CEO, and will oversee a varied portfolio including</string>
		<key>tagnum</key>
		<string>12</string>
		<key>tags</key>
		<string>IOS, Apple, Cocktail, CS 100, CS 241, Entrepreneur, UIUC, Naruto, Designer, UI/UX</string>
		<key>comments</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Micheat</string>
				<key>content</key>
				<string>great place haha</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>Which class are you in</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>where is that</string>
			</dict>
		</array>
		<key>like</key>
		<string>4</string>
	</dict>
	<dict>
		<key>user</key>
		<string></string>
		<key>image</key>
		<string>2.pic_hd</string>
		<key>content</key>
		<string>Such a nice place. Hope I could spend another 3 years here!</string>
		<key>tagnum</key>
		<string>12</string>
		<key>tags</key>
		<string>IOS, Apple, Cocktail, NBA, Shenzhen, CS 100, CS 241, Entrepreneur, UIUC, Naruto, Designer, UI/UX</string>
		<key>comments</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Micheat</string>
				<key>content</key>
				<string>great place haha</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>Which class are you in</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>where is that</string>
			</dict>
		</array>
		<key>like</key>
		<string>4</string>
	</dict>
	<dict>
		<key>user</key>
		<string></string>
		<key>image</key>
		<string>2.pic_hd</string>
		<key>content</key>
		<string>Such a nice place. Hope I could spend another 3 years here!</string>
		<key>tagnum</key>
		<string>12</string>
		<key>tags</key>
		<string>IOS, Apple, Cocktail, NBA, Shenzhen, CS 100, CS 241, Entrepreneur, UIUC, Naruto, Designer, UI/UX</string>
		<key>comments</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Micheat</string>
				<key>content</key>
				<string>great place haha</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>Which class are you in</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>where is that</string>
			</dict>
		</array>
		<key>like</key>
		<string>4</string>
	</dict>
	<dict>
		<key>user</key>
		<string></string>
		<key>image</key>
		<string>2.pic_hd</string>
		<key>content</key>
		<string>Such a nice place. Hope I could spend another 3 years here!</string>
		<key>tagnum</key>
		<string>12</string>
		<key>tags</key>
		<string>IOS, Apple, Cocktail, NBA, Shenzhen, CS 100, CS 241, Entrepreneur, UIUC, Naruto, Designer, UI/UX</string>
		<key>comments</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>agree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Micheat</string>
				<key>content</key>
				<string>great place haha</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>Which class are you in</string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>content</key>
				<string>where is that</string>
			</dict>
		</array>
		<key>like</key>
		<string>4</string>
	</dict>
</array>
</plist>
